################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/3angle/.vs/3angle/v16/Browse.VC.opendb
